@charset: "UTF-8";

body {
  height: 100vh;
  background-image: url('fundo1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  text-align: center;
}
.um {
  width: 300px;
  height: 100px;
  background-color: #02c3ff;
  display: block;
  margin: auto;
  border: 3px solid #00000099;
  border-radius: 10px;
  padding-top: 0px;
  padding-left: 15px;
  box-shadow: 3px 5px 5px #00000098;
}
.um > h3 {
  margin: 0px;
  padding: 0px;
}
.dois {
  width: 300px;
  height: 100px;
  background-color: #02c3ff;
  display: block;
  margin: auto;
  border: 3px solid #00000099;
  border-radius: 10px;
  padding-top: 0px;
  padding-left: 15px;
  margin-top: 20px;
  box-shadow: 3px 5px 5px #00000098;
}
  
