@charset "UTF-8";

:root {
  --cor: blue;
  
}
.foto {
  width: 70%;
  max-width: 800px;
  height: auto;
  display: block;
  margin: auto;
}
body {
  max-height: 100%;
  background-image: linear-gradient(to left, #009adb, var(--cor));
  margin: 0px;
}
header {
  width: 100%;
  background-color: #00ab4fb8; 
  padding: 15px;
  margin: 0px;
  text-align: center;
}
header h1 {
  box-shadow: 1px, 1px, 2px, black;
  color: #000000;
}
main {
  background-color: #ffffff;
  min-width: 320px;
  max-width: 600px;
  display: block;
  margin: auto;
  text-align: justify;
  box-shadow: 5px, 5px, 5px, black;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  
}
main p {
  color: #e6a517ca;
  margin: 0px;
}
main strong {
  color: black;
}
